@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
[hidden],
[x-cloak] {
	display: none !important;
}

.font-sans {
	font-family: "Inter var", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
}
.logo{
	transform: translateY(-80%);
	margin-left: -1300px;
}
form {
	transform: translateY(-15%);
}